body{background-image: url('')}
h1{background-color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
#a{text-align:left;}
h3{background-color: aliceblue;}
a{text-decoration: none;}
img{border-image: fill;}
#r{;}
font-size: 300%;}
p{background-color:aqua;}
.nav{background-color: black;}
#ty{text-align: left;}